<robot name = "robot">
    <link name="Torso">
        <inertial>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="2 2 1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="2 2 1" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_limb0link0" type="revolute">
       <parent link="Torso"/>
       <child  link="limb0link0"/>
       <origin rpy="0 0 0" xyz="1 1 3.0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="limb0link0">
        <inertial>
            <origin xyz="0.10956319142307464 0.10956319142307464 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.10956319142307464 0.10956319142307464 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.21912638284614927 0.21912638284614927 0.21912638284614927" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.10956319142307464 0.10956319142307464 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.21912638284614927 0.21912638284614927 0.21912638284614927" />
            </geometry>
        </collision>
    </link>
    <joint name="limb0link0_limb0link1" type="revolute">
       <parent link="limb0link0"/>
       <child  link="limb0link1"/>
       <origin rpy="0 0 0" xyz="0.0 0.10956319142307464 -0.10956319142307464" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="limb0link1">
        <inertial>
            <origin xyz="-0.36840337364360026 0.0 -0.36840337364360026" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.36840337364360026 0.0 -0.36840337364360026" rpy="0 0 0"/>
            <geometry>
                <box size="0.7368067472872005 0.7368067472872005 0.7368067472872005" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.36840337364360026 0.0 -0.36840337364360026" rpy="0 0 0"/>
            <geometry>
                <box size="0.7368067472872005 0.7368067472872005 0.7368067472872005" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_limb1link0" type="revolute">
       <parent link="Torso"/>
       <child  link="limb1link0"/>
       <origin rpy="0 0 0" xyz="1 -1 3.0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="limb1link0">
        <inertial>
            <origin xyz="0.4424402637645798 -0.4424402637645798 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.4424402637645798 -0.4424402637645798 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8848805275291596 0.8848805275291596 0.8848805275291596" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.4424402637645798 -0.4424402637645798 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8848805275291596 0.8848805275291596 0.8848805275291596" />
            </geometry>
        </collision>
    </link>
    <joint name="limb1link0_limb1link1" type="revolute">
       <parent link="limb1link0"/>
       <child  link="limb1link1"/>
       <origin rpy="0 0 0" xyz="0.4424402637645798 -0.8848805275291596 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="limb1link1">
        <inertial>
            <origin xyz="0.0 -0.09857323429012738 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.09857323429012738 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.19714646858025475 0.19714646858025475 0.19714646858025475" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.09857323429012738 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.19714646858025475 0.19714646858025475 0.19714646858025475" />
            </geometry>
        </collision>
    </link>
    <joint name="limb1link1_limb1link2" type="revolute">
       <parent link="limb1link1"/>
       <child  link="limb1link2"/>
       <origin rpy="0 0 0" xyz="0.0 -0.19714646858025475 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="limb1link2">
        <inertial>
            <origin xyz="0.0 -0.23559418306524404 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.23559418306524404 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4711883661304881 0.4711883661304881 0.4711883661304881" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.23559418306524404 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4711883661304881 0.4711883661304881 0.4711883661304881" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_limb2link0" type="revolute">
       <parent link="Torso"/>
       <child  link="limb2link0"/>
       <origin rpy="0 0 0" xyz="-1 1 3.0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="limb2link0">
        <inertial>
            <origin xyz="-0.10956319142307464 0.10956319142307464 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.10956319142307464 0.10956319142307464 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.21912638284614927 0.21912638284614927 0.21912638284614927" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.10956319142307464 0.10956319142307464 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.21912638284614927 0.21912638284614927 0.21912638284614927" />
            </geometry>
        </collision>
    </link>
    <joint name="limb2link0_limb2link1" type="revolute">
       <parent link="limb2link0"/>
       <child  link="limb2link1"/>
       <origin rpy="0 0 0" xyz="0.0 0.10956319142307464 -0.10956319142307464" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="limb2link1">
        <inertial>
            <origin xyz="0.36840337364360026 0.0 -0.36840337364360026" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.36840337364360026 0.0 -0.36840337364360026" rpy="0 0 0"/>
            <geometry>
                <box size="0.7368067472872005 0.7368067472872005 0.7368067472872005" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.36840337364360026 0.0 -0.36840337364360026" rpy="0 0 0"/>
            <geometry>
                <box size="0.7368067472872005 0.7368067472872005 0.7368067472872005" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_limb3link0" type="revolute">
       <parent link="Torso"/>
       <child  link="limb3link0"/>
       <origin rpy="0 0 0" xyz="-1 -1 3.0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="limb3link0">
        <inertial>
            <origin xyz="-0.4424402637645798 -0.4424402637645798 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.4424402637645798 -0.4424402637645798 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8848805275291596 0.8848805275291596 0.8848805275291596" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.4424402637645798 -0.4424402637645798 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8848805275291596 0.8848805275291596 0.8848805275291596" />
            </geometry>
        </collision>
    </link>
    <joint name="limb3link0_limb3link1" type="revolute">
       <parent link="limb3link0"/>
       <child  link="limb3link1"/>
       <origin rpy="0 0 0" xyz="-0.4424402637645798 -0.8848805275291596 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="limb3link1">
        <inertial>
            <origin xyz="0.0 -0.09857323429012738 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.09857323429012738 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.19714646858025475 0.19714646858025475 0.19714646858025475" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.09857323429012738 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.19714646858025475 0.19714646858025475 0.19714646858025475" />
            </geometry>
        </collision>
    </link>
    <joint name="limb3link1_limb3link2" type="revolute">
       <parent link="limb3link1"/>
       <child  link="limb3link2"/>
       <origin rpy="0 0 0" xyz="0.0 -0.19714646858025475 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="limb3link2">
        <inertial>
            <origin xyz="0.0 -0.23559418306524404 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.23559418306524404 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4711883661304881 0.4711883661304881 0.4711883661304881" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.23559418306524404 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4711883661304881 0.4711883661304881 0.4711883661304881" />
            </geometry>
        </collision>
    </link>
</robot>