<robot name = "robot">
    <link name="Torso">
        <inertial>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="2 2 1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="2 2 1" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_limb0link0" type="revolute">
       <parent link="Torso"/>
       <child  link="limb0link0"/>
       <origin rpy="0 0 0" xyz="1 1 3.0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="limb0link0">
        <inertial>
            <origin xyz="0.2704609640039533 0.2704609640039533 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.2704609640039533 0.2704609640039533 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5409219280079066 0.5409219280079066 0.5409219280079066" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.2704609640039533 0.2704609640039533 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5409219280079066 0.5409219280079066 0.5409219280079066" />
            </geometry>
        </collision>
    </link>
    <joint name="limb0link0_limb0link1" type="revolute">
       <parent link="limb0link0"/>
       <child  link="limb0link1"/>
       <origin rpy="0 0 0" xyz="0.2704609640039533 0.0 -0.2704609640039533" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="limb0link1">
        <inertial>
            <origin xyz="0.0 -0.30533192263587855 -0.30533192263587855" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.30533192263587855 -0.30533192263587855" rpy="0 0 0"/>
            <geometry>
                <box size="0.6106638452717571 0.6106638452717571 0.6106638452717571" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.30533192263587855 -0.30533192263587855" rpy="0 0 0"/>
            <geometry>
                <box size="0.6106638452717571 0.6106638452717571 0.6106638452717571" />
            </geometry>
        </collision>
    </link>
    <joint name="limb0link1_limb0link2" type="revolute">
       <parent link="limb0link1"/>
       <child  link="limb0link2"/>
       <origin rpy="0 0 0" xyz="-0.30533192263587855 -0.30533192263587855 -0.30533192263587855" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="limb0link2">
        <inertial>
            <origin xyz="-0.15071166218451434 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.15071166218451434 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3014233243690287 0.3014233243690287 0.3014233243690287" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.15071166218451434 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3014233243690287 0.3014233243690287 0.3014233243690287" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_limb1link0" type="revolute">
       <parent link="Torso"/>
       <child  link="limb1link0"/>
       <origin rpy="0 0 0" xyz="1 -1 3.0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="limb1link0">
        <inertial>
            <origin xyz="0.49816566756161895 -0.49816566756161895 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.49816566756161895 -0.49816566756161895 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9963313351232379 0.9963313351232379 0.9963313351232379" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.49816566756161895 -0.49816566756161895 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9963313351232379 0.9963313351232379 0.9963313351232379" />
            </geometry>
        </collision>
    </link>
    <joint name="limb1link0_limb1link1" type="revolute">
       <parent link="limb1link0"/>
       <child  link="limb1link1"/>
       <origin rpy="0 0 0" xyz="0.0 -0.9963313351232379 0.0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="limb1link1">
        <inertial>
            <origin xyz="-0.32653190512948804 -0.32653190512948804 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.32653190512948804 -0.32653190512948804 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6530638102589761 0.6530638102589761 0.6530638102589761" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.32653190512948804 -0.32653190512948804 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6530638102589761 0.6530638102589761 0.6530638102589761" />
            </geometry>
        </collision>
    </link>
    <joint name="limb1link1_limb1link2" type="revolute">
       <parent link="limb1link1"/>
       <child  link="limb1link2"/>
       <origin rpy="0 0 0" xyz="-0.6530638102589761 -0.6530638102589761 0.0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="limb1link2">
        <inertial>
            <origin xyz="-0.17020611304907415 -0.31406500395418274 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.17020611304907415 -0.31406500395418274 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3404122260981483 0.6281300079083655 0.26708391528470327" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.17020611304907415 -0.31406500395418274 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3404122260981483 0.6281300079083655 0.26708391528470327" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_limb2link0" type="revolute">
       <parent link="Torso"/>
       <child  link="limb2link0"/>
       <origin rpy="0 0 0" xyz="-1 1 3.0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="limb2link0">
        <inertial>
            <origin xyz="-0.2704609640039533 0.2704609640039533 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2704609640039533 0.2704609640039533 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5409219280079066 0.5409219280079066 0.5409219280079066" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2704609640039533 0.2704609640039533 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5409219280079066 0.5409219280079066 0.5409219280079066" />
            </geometry>
        </collision>
    </link>
    <joint name="limb2link0_limb2link1" type="revolute">
       <parent link="limb2link0"/>
       <child  link="limb2link1"/>
       <origin rpy="0 0 0" xyz="-0.2704609640039533 0.0 -0.2704609640039533" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="limb2link1">
        <inertial>
            <origin xyz="0.0 -0.30533192263587855 -0.30533192263587855" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.30533192263587855 -0.30533192263587855" rpy="0 0 0"/>
            <geometry>
                <box size="0.6106638452717571 0.6106638452717571 0.6106638452717571" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.30533192263587855 -0.30533192263587855" rpy="0 0 0"/>
            <geometry>
                <box size="0.6106638452717571 0.6106638452717571 0.6106638452717571" />
            </geometry>
        </collision>
    </link>
    <joint name="limb2link1_limb2link2" type="revolute">
       <parent link="limb2link1"/>
       <child  link="limb2link2"/>
       <origin rpy="0 0 0" xyz="0.30533192263587855 -0.30533192263587855 -0.30533192263587855" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="limb2link2">
        <inertial>
            <origin xyz="0.15071166218451434 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.15071166218451434 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3014233243690287 0.3014233243690287 0.3014233243690287" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.15071166218451434 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3014233243690287 0.3014233243690287 0.3014233243690287" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_limb3link0" type="revolute">
       <parent link="Torso"/>
       <child  link="limb3link0"/>
       <origin rpy="0 0 0" xyz="-1 -1 3.0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="limb3link0">
        <inertial>
            <origin xyz="-0.49816566756161895 -0.49816566756161895 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.49816566756161895 -0.49816566756161895 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9963313351232379 0.9963313351232379 0.9963313351232379" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.49816566756161895 -0.49816566756161895 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9963313351232379 0.9963313351232379 0.9963313351232379" />
            </geometry>
        </collision>
    </link>
    <joint name="limb3link0_limb3link1" type="revolute">
       <parent link="limb3link0"/>
       <child  link="limb3link1"/>
       <origin rpy="0 0 0" xyz="0.0 -0.9963313351232379 0.0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="limb3link1">
        <inertial>
            <origin xyz="0.32653190512948804 -0.32653190512948804 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.32653190512948804 -0.32653190512948804 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6530638102589761 0.6530638102589761 0.6530638102589761" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.32653190512948804 -0.32653190512948804 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6530638102589761 0.6530638102589761 0.6530638102589761" />
            </geometry>
        </collision>
    </link>
    <joint name="limb3link1_limb3link2" type="revolute">
       <parent link="limb3link1"/>
       <child  link="limb3link2"/>
       <origin rpy="0 0 0" xyz="0.6530638102589761 -0.6530638102589761 0.0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="limb3link2">
        <inertial>
            <origin xyz="0.17020611304907415 -0.31406500395418274 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.17020611304907415 -0.31406500395418274 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3404122260981483 0.6281300079083655 0.26708391528470327" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.17020611304907415 -0.31406500395418274 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3404122260981483 0.6281300079083655 0.26708391528470327" />
            </geometry>
        </collision>
    </link>
</robot>